#mainT {
  background-color: white;
  display: flex;
  width: 95%;
  margin: auto;
  padding: 10px;
}
.cusPay {
  background-color: white;
  width: 65%;
}
.CustomerInfo {
  background-color: white;
  font-size: 15px;
}
.CustomerInfo > p {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18px;
}
.CustomerInfo > div,
.CustomerInfo > div div,
label,
select {
  background-color: white;
}
.CustomerInfo > div {
  display: flex;
}
.CustomerInfo > div div {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
}
.CustomerInfo > div div input {
  background-color: white;
  caret-color: rgb(10, 10, 10);
  height: 1rem;
  color: rgb(125, 126, 126);
  font-weight: 100;
}
.CustomerInfo > div div select {
  height: 2rem;
  background-color: white;
  color: rgb(125, 126, 126);

  border-radius: 5px;
  outline: 0;
  border: 1px solid rgb(193, 191, 191);
  font-size: 15px;
}
.CustomerInfo > div div input::placeholder {
  color: rgb(125, 126, 126);
  font-size: 15px;
  font-weight: 100;
}
.CustomerInfo > div div input[type="email"],
.CustomerInfo > div div input[type="number"] {
  height: 1.8rem;
  border-radius: 5px;
  outline: 0;
  border: 1px solid rgb(193, 191, 191);
  padding-left: 5px;
}
.CustomerInfo label {
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
