.slogan {
  text-align: center;
  color: white;
  font-size: x-large;
  font-weight: 600;
  letter-spacing: 2px;
}

.section_main {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_input {
  height: 2rem;
  border: 0;
  outline: 0;
  border-radius: 0;
  background-color: transparent !important;
  color: #c05f09 !important;
  caret-color: #c05f09;
}
.search_input::placeholder {
  color: #c05f09;
}
.search_input + div,
.search_input + div + div,
.search_input + div + div + div {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.search_input + div label,
.search_input + div + div label,
.search_input + div + div + div label {
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
}
.section_main input {
  background-color: aliceblue !important;
  border: 0;
  color: #c05f09 !important;
}
input[type="date"]::-webkit-datetime-edit-fields-wrapper,
input[type="date"]::-webkit-datetime-edit-text {
  color: #c05f09;
  font-size: 15px;
  font-weight: 600;
}
.section_main input::placeholder {
  color: #c05f09;
  font-weight: 600;
}
.search_button {
  background-color: #c05f09;
  height: 3rem;
  width: 6rem;
  border: 0;
  cursor: pointer;
  padding: 7px;
  color: white;
}
.search_button:hover {
  background-color: #4628ff;
}
@media screen and (max-width: 800px) {
  .slogan {
    font-size: 0.7rem;
  }
  .section_main {
    flex-direction: column;
    background-color: transparent;
  }
    .section_main input{
    width: 100% !important;
    }
    #chDate,#CheckDate,#per{
    width: 104%;
    background-color: transparent;
    margin-top: 20px;
    }
     #chDate label,#CheckDate label,#per label{
     color: white;
     margin-bottom: 4px;
     }
     #chDate input,#CheckDate input,#per input{
     height: 2.8rem;
     border-radius: 5px;
     }
     .search_button {
     margin-top: 20px;
     width: 104%;
     }

}
