#footer {
  color: rgb(237, 242, 240);
  background-color: #262424;
  margin-top: 50px;
  position: relative;
}

.footerFirst {
  width: 90%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 142, 255, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  position: relative;
  bottom: 30px;
}
.footerFirst > div:nth-child(1) {
  background-color: inherit;
}
.footerFirst > div:nth-child(1) > :nth-child(1) {
  background-color: inherit;
  font-size: larger;
}
.footerFirst > div:nth-child(1) > :nth-child(1) + div {
  display: flex;
  background-color: inherit;
}
.footerFirst > div:nth-child(1) > :nth-child(1) + div p {
  display: flex;
  background-color: inherit;
  align-items: center;
  margin-right: 20px;
  font-size: 15px;
  position: relative;
  bottom: 20px;
}

.tick {
  background-color: inherit;
  font-weight: 600;
  margin-right: 5px;
}

.footerFirst > div:nth-child(1) + div {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerFirst > div:nth-child(1) + div > button:nth-child(1) {
  background-color: #101010;
  color: white;
  display: flex;
  align-items: center;
  border: 0;
  padding: 10px;
  border-radius: 11px;
  font-size: 13px;
  margin-right: 10px;
}
.footerFirst > div:nth-child(1) + div > button:nth-child(1):hover{
background-color: #f05c09;
}

.footerFirst > div:nth-child(1) + div > button:nth-child(2) {
  background-color: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  border: 0;
  border: 2px solid white;
  padding: 10px;
  border-radius: 11px;
  font-size: 13px;
}
.footerFirst > div:nth-child(1) + div > button:nth-child(2):hover{
background-color: #f05c09;
border-color: #f05c09;
}
.Footer-data {
  width: 90%;
  margin: auto;
  background-color: #262424;
  font-size: 15px;
}
.contacts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* gap: 30px; */
  background-color: #262424;
}
.contacts>*{
background-color: inherit;
}
h3,p{
background-color: inherit;
}
.link{
background-color: inherit;
display: flex;
}
.link div{
margin-right: 20px;
background-color: inherit;
}
.contacts p:hover,.contacts li:hover{
color: #f05c09;
}
.contacts li{
list-style: none;
}
.Footer-data img {
  width: 3rem;
  background-color: inherit;
}
.newsletter-subscription form,.newsletter-subscription form>input{
background-color: #262424;
}
.newsletter-subscription form{
display: flex;
}
.newsletter-subscription form>input{
padding: 10px;
border-radius: 11px;
margin-right: 10px;
}
.newsletter-subscription form>input::placeholder{
font-size: 13px;
}
.newsletter-subscription form>button{
border: 0;
background-color: #f05c09;
font-size: 13px;
font-weight: 600;
border-radius: 8px;
outline: 0;
letter-spacing: 2px;
}
.newsletter-subscription form>button:hover{
background-color: #4828ff;
color: white;
cursor: pointer;
}

.disclaimer{
background-color: #262424;
border-bottom: 2px solid #f05c09;
}
.copyright{
background-color: #262424;
display: flex;
justify-content: space-between;
align-items: center;
}
.copyright button{
color:white;
font-size: 10px;
background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 142, 255, 1) 100%
  );
border: none;
border-radius: 11px;
padding: 5px;
cursor: pointer;
}

.Footer-data img{
width: 6rem;
position: relative;
right: 40px;
}