.mains {
  color: white;
  width: 90%;
  margin: auto;
  height: 58vh;
  transition: all 1s ease-in-out;
}
.mains > p:nth-child(1) {
  font-weight: 600;
  margin: auto;
  width: 80%;
  font-size: large;
  text-align: center;
}
.For-Searching {
  background-color: #c05f09;
  border-radius: 11px;
  width: 84%;
  margin: auto;
  margin-top: 30px;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #c05f09;
  box-sizing: border-box;
  /* box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06); */
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
  background-color: #c05f09;
}

.radio-inputs .radio input {
  display: none;
  background-color: #c05f09;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
  background-color: #c05f09;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

.flightInput {
  background-color: #c05f09;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  font-size: 15px;
}

.section1 {
  display: flex;
  background-color: #c05f09;
  align-items: center;
  padding-top: 10px;
}
.For-Searching {
  padding: 10px;
}
.from,
.ticks,
.flightInput input,
.flightInput label,
.To,
.passengers,
.class,
.date,
.flightInput select,
.section1,
.section2 {
  background-color: #c05f09 !important;
}
.section2 {
  display: flex;
  background-color: #c05f09;
  padding-top: 30px;
  align-items: center;
  justify-content: space-between;
}
.from,
.To {
  display: flex;
  flex-direction: column;
  position: relative;
}
.from input,
.To input {
  padding: 12px;
  border: 2px solid white !important;
  outline: 0;
  border-radius: 5px;
  width: 15rem;
}
.from:hover > #ftick,
.To:hover > #stick {
  display: none;
}

.from input::placeholder,
.To input::placeholder {
  color: #fff;
  padding-left: 40px;
}
#ftick {
  position: absolute;
  top: 55%;
  left: 3%;
}
#stick {
  position: absolute;
  top: 55%;
  left: 3%;
}
#middle {
  margin: 20px;
  position: relative;
  top: 10px;
}
.date,
.passengers,
.class {
  display: flex;
  flex-direction: column;
}
.date input,
.passengers input,
.class select {
  margin-top: 3px;
  border: 2px solid white;
  outline: none;
  border-radius: 5px;
  width: 10rem;
}
.sl {
  color: #fff;
  background-color: #c05f09;
  font-size: 15px;
}
.date input::placeholder {
  color: #fff !important;
}
.search {
  border: 0;
  outline: 0;
  color: #fff;
  background-color: #4628ff;
  margin-left: 20px;
  padding: 10px;
  border-radius: 11px;
  font-size: 15px;
  cursor: pointer;
}
.search:hover {
  background-color: white;
  color: #c05f09;
  font-weight: 600;
}
.flightInput input::placeholder {
  color: #101010;
}

.fromData,
.toData {
  position: absolute;
  top: 90%;
  width: max-content;
  background-color: #e5dddd;
  border-radius: 11px;
  color: #101010;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  z-index: 5;
}
.chunck_data {
  background-color: teal;
  color: white;
  padding: 3px;
  border-radius: 3px;
  font-size: 12px;
  width: max-content;
  margin: 5px;
  cursor: pointer;
}
.chunck_data:hover {
  background-color: #101010;
  color: white;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper,
input[type="date"]::-webkit-datetime-edit-text {
  color: white;
  font-size: 15px;
}

@media screen and (max-width: 1300px) {
  .For-Searching {
    width: 70%;
    margin-bottom: 40px;
  }
  .mains {
    margin-bottom: 20px;
  }

  .section1 {
    flex-direction: column;
    width: 100%;
  }
  #middle {
    display: none;
  }
  .mains {
    height: max-content;
  }
  .flightInput {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .section2 {
    flex-direction: column;
  }
  .from,
  .To {
    width: 100%;
  }
  .checkings {
    width: 20.4rem !important;
  }
  .section2 {
    padding-top: 10px;
  }
  .section2,
  .date,
  .passengers,
  .class {
    width: 100%;
  }
  .date input {
    width: 21.3rem;
    margin-bottom: 10px;
  }
  .passengers input {
    width: 21.2rem;
    margin-bottom: 10px;
  }
  .class select {
    width: 21.5rem;
    margin-bottom: 10px;
  }
  .from {
    padding-bottom: 10px;
  }
  .search {
    margin-top: 20px;
    width: 22rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 750px) {
  #thistitle {
    font-size: 15px;
  }
  .flightInput div,
  .flightInput input,
  .class select,
  .flightInput section {
    width: 100% !important;
  }
  .mains > p:nth-child(1),
  .For-Searching {
    width: 100%;
  }
  .For-Searching{
  position: relative;
  right: 5px;
  }
  #ftick {
    top: 40px;
  }
  .from input,
  .To input {
    width: 5rem;
  }
  .flightInput {
    overflow: hidden;
  }
}
