.main_box {
  background-color: transparent;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 10px;
  font-size: 14px;
}

.main_box div {
  background-color: transparent;
}

.firstline {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 0px 10px;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.details img {
  width: 1.5rem;
  background-color: transparent;
  margin-right: 15px;
}
.details > div > p:nth-child(1) {
  font-weight: 600;
  background-color: transparent;
}
.details > div > p:nth-child(2) {
  color: rgb(159, 159, 159);
}
.dept,
.arive {
  position: relative;
  top: 10px;
}
.dept > p:nth-child(1),
.arive > p:nth-child(1),
.price > p:nth-child(1) {
  font-size: 16px;
  font-weight: 900;
}
.stop {
  background-color: transparent;
  position: relative;
  top: 20px;
}
.stop p {
  color: rgb(13, 13, 13);
  font-weight: 600;
  font-size: 15px;
}
.bookNow {
  background-color: #c05f09;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
}
.bookNow:hover {
  background-color: #4628ff;
  border-radius: 5px;
}
.main_box > button {
  background-color: teal;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
  border-radius: 11px;
}
.other{
margin-top: 10px;
font-size: 13px;
font-weight: 600;
color: #c05f09;
display: flex;
align-items: center;
}
.other::before {
  content: '';
  width: 0.6rem;
  height: 0.5rem;
  background-color: #c05f09;
  border-radius: 50%;
  margin-right: 10px;
}
.animat{
animation: ani 1s ease-in-out infinite;
}
@keyframes ani {
  0%{
  color: red;
  font-weight: 600;
  }
  50%{
   color: rgb(0, 47, 255);
  }
  100%{
    color: green;
  font-weight: 900;
  }
}
@media screen and (max-width:800px) {
  .firstline,.main_box{
  font-size: .5rem;
  align-items: center;
  }
  .main_box button{
  font-size: 0.5rem;
  }
  .other{
  font-size: 0.4rem;
  }
  .other::before{
  width: 0.9rem;
  }
}
@media screen and (max-width:500px) {
  .firstline,.main_box{
  font-size: .4rem;
  }
  .dept>p:nth-child(1),.stop>p,.arive>p:nth-child(1){
  font-size: 0.5rem !important;
  }

}