.flight_section {
 background-color: rgb(218, 224, 228);
  margin-top: 20px;
}
.firstOne {
  background-color: transparent;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  bottom: 100px;
}
.firstOne>img{
width: 80%;
border-radius: 11px;
}
.explore_more {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  margin-top: 10px;
  background-color: transparent;
}
.downIcon {
  margin: 8px;
  font-weight: 600;
}
.explore_more > p {
  font-size: 15px;
}
.whereToGo {
  display: flex;
  background-color: white;
  font-size: 10px;
  font-weight: 600;
   border-radius: 11px;
   padding: 0px 10px;
}
.whereToGo img{
width: 1.6rem;
background-color: white;
margin-right: 5px;
}
.whereToGo>div{
display: flex;
align-items: center;
background-color: white;
border-right: 1px solid rgb(180, 175, 175);
padding: 5px;
}
.whereToGo>div>div{
background-color: white;
}

.hotelShow{
background-color: white;
width: 90%;
margin: auto;
border-radius: 11px;
padding: 10px;
position: relative;
bottom: 70px;
}
.showmeHotel{
background-color: transparent;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
gap: 20px;
height: 60vh;
overflow: scroll;
}
.showmeHotel::-webkit-scrollbar{
display: none;
}
.hotelShow>p{
font-size: 20px;
font-weight: 900;
color: rgb(254, 250, 250);
background-color:#c05f09;
width: max-content;
padding: 10px;
border-radius: 21px;
}
.advertisement{
width: 90%;
margin: auto;
border-radius: 11px;
background-color: inherit;
position: relative;
bottom: 20px;
}
.advertisement img{
width: 100%;
border-radius: 11px;
}