.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #101010;
}

.not-found-heading {
  font-size: 48px;
  font-weight: bold;
  color: #e53935;
  margin-bottom: 20px;
  background-color: inherit;
}

.not-found-message {
  font-size: 24px;
  color: #666;
  font-weight: 600;
}
